body {
  background-image: url('../images/background-html.png');
  background-size: 2000px 2000px,
  cover;
  background-repeat: no-repeat;
}


.font{
  font-family: "Amatic SC";
  text-transform: uppercase;
  font-weight: bold;
}

.title{
  text-align: center;
  font-size: 40px;
}

.buttons{
  display: flex;
  justify-content: center;
}

.btn{
  width: 80px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  border: 2px solid #000;
}

.container {
  display: flex;
}

.game-screen {
  margin: 0 auto;
  border-radius: 5%;
  border: 5px solid #fff;
}
.disabled {
  display: none;
}

.section-absolute {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  top: 30%;
  left: 37%;
  width: 350px;
  height: 150px;  
}

.section-title{
  font-size: 34px;
}

.game-over-text {
  font-size: 20px;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 15px; 
}

.score-text {
  margin-left: 60%;
  font-size: 25px;
}

.restart {
  margin-left: 38%;
}

@keyframes move {
  from {
    top: 500px;
    left: 400px;
  }

  to {
    top: 0px;
    left: 400px;
  }
}

.perry-outside{
  position: relative;
}

.perry-move {
  position: absolute;
  animation: move 10s steps(250) infinite alternate;
}

@keyframes move-right {
  from {
    top: 500px;
    left: 1000px;
  }

  to {
    top: 0px;
    left: 1000px;
  }
}

.perry-move-right {
  position: absolute;
  animation: move-right 10s steps(250) infinite alternate;
}

@keyframes points {
  0% {
    color: red;
    left: 0px;
  }

  50% {
    color: yellow;
    left: 200px;
  }

  100% {
    color: red;
    left: 0px;
  }
}

.points-game{
    position: absolute;
    animation: points 5s infinite alternate;
}