.font{
  font-family: "Amatic SC";
  text-transform: uppercase;
  font-weight: bold;
}

.title{
  text-align: center;
}

.buttons{
  display: flex;
  justify-content: center;
}

.btn-start{
  width: 80px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  border: 2px solid #000;
  background-color: #fff;
}

.container {
  display: flex;
}

.game-screen {
  border: 1px solid #000;
  margin: 0 auto;
}
.disabled {
  display: none;
}

.game-over {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  top: 30%;
  left: 40%;  
}

.game-over-title{
  font-size: 34px;
}

.game-over-subtext {
  font-size: 20px;
  margin: 0 auto; 
}