body {
  background-color: #fff;
}


.font{
  font-family: "Amatic SC";
  text-transform: uppercase;
  font-weight: bold;
}

.title{
  text-align: center;
}

.buttons{
  display: flex;
  justify-content: center;
}

.btn-start{
  width: 80px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  border: 2px solid #000;
}

.container {
  display: flex;
}

.game-screen {
  border: 1px dotted #000;
  margin: 0 auto;
  /* background-image: url('../images/background.png');
  background-size: 500px 1000px,
  cover;
  background-repeat: no-repeat; */
}
.disabled {
  display: none;
}

.section-absolute {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  top: 30%;
  left: 37%;
  width: 350px;
  height: 150px;  
}


.section-title{
  font-size: 34px;
}

.game-over-text {
  font-size: 20px;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 15px; 
}

.score-text {
  margin-left: 65%;
  font-size: 25px;
}